<template>
  <div>
    <template v-for="(orFilters, i) in cnfGroupedFilters">
      <VCnfOrGroup
        :key="`logical-and-group-${i}`"
        :logicalAndFilterGroupIndex="i"
        :filters="orFilters"
        :fieldMap="fieldMap"
        :cnfLogicConfig="cnfLogicConfig"
        :cnfFunctionsConfig="cnfFunctionsConfig"
        :cnfConditionalConfig="cnfConditionalConfig"
        @click:close="clickClose"
      />
    </template>

    <template v-if="regex !== ''">
      <v-icon small
        v-if="cnfGroupedFilters.length !== 0"
        class="cnf__logic--and"
        :key="`regex-icon`"
      >
        <template>
          {{ andLogicString }}
        </template>
      </v-icon>
      <v-chip close small @click:close="clickCloseRegEx">
        <var>regex:</var>&nbsp;<kbd>/{{regex}}/gi</kbd>
      </v-chip>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VIcon, VChip
} from 'vuetify/lib'

import {configs, groupByConjunctiveNormalForm} from 'frxt'
import {
  TokenMapConfig, Filter,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

import VCnfOrGroup from './VCnfOrGroup.vue'


@Component({
  components: { VCnfOrGroup }
})
export default class VFrxtCnf extends Vue {
  @Prop({
    default: () => ([])
  }) readonly filters!: Filter[]

  @Prop({default: ()=>({})}) readonly fieldMap!: TokenMapConfig
  @Prop({default: ()=>configs.defaultCNFLogicConfig}) readonly cnfLogicConfig!: CNFLogicConfig
  @Prop({default: ()=>configs.defaultCNFFunctionConfig}) readonly cnfFunctionsConfig!: CNFFunctionConfig
  @Prop({default: ()=>configs.defaultCNFConditionalConfig}) readonly cnfConditionalConfig!: CNFConditionalConfig

  @Prop({default: ''}) readonly regex!: string

  @Emit('click:close')
  public clickClose([i, j]:[number,number]): number {
    let loc = 0
    for (let k = 0; k < i; k++) {
      loc += this.cnfGroupedFilters[k].length
    }
    loc += j
    return loc
  }
  @Emit('click:close:regex')
  public clickCloseRegEx(): boolean {
    return true
  }

  get andLogicString(): string {
    let logic = 'and'
    return this.cnfLogicConfig[logic].display
  }

  get cnfGroupedFilters() {
    return groupByConjunctiveNormalForm(this.filters)
  }

}
</script>

<style lang="css">
.cnf__logic--and {
  color: #0072ff !important;
}
.cnf__logic--or {
  color: #00c6ff !important;
}

.cnf__field {
  color: #f83600;
}

.cnf__function {
  color: black;
}
</style>
