<template>
  <v-text-field
    v-model="input"
    :label="label"
    :append-icon="appendIcon"
    @keyup.enter="filtersFromText"
    :persistent-hint="persistentHint"
    :hint="hint"
    clearable
  >
  </v-text-field>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VTextField
} from 'vuetify/lib'

import {extractFiltersFromText, configs} from 'frxt'
import {
  TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig,
} from 'frxt/dist/types'

@Component({
  // components: {
  //   VTextField
  // }
})
export default class VFrxtInput extends Vue {
  private hint: string = `type statements in the form of 'logic field (function) test value'.`
  private label: string = `Free Text`
  private persistentHint: boolean = true
  private appendIcon: string = `mdi-filter`



  private input: string = ''


  @Prop({default: ()=>({})}) readonly tknFieldMap!: TokenMapConfig
  @Prop({default: ()=>configs.defaultCNFFunctionMap}) readonly tknFunctionMap!: TokenMapConfig
  @Prop({default: ()=>configs.defaultCNFConditionalMap}) readonly tknConditionalMap!: TokenMapConfig
  @Prop({default: undefined}) readonly fieldTokens!: string[]|undefined
  @Prop({default: undefined}) readonly functionTokens!: string[]|undefined
  @Prop({default: undefined}) readonly conditionalTokens!: string[]|undefined
  @Prop({default: ()=>configs.PunctuationPattern}) readonly PunctuationPattern!: RegExp | string
  @Prop({default: ()=>configs.defaultCNFLogicConfig}) readonly cnfLogicConfig!: CNFLogicConfig
  @Prop({default: ()=>configs.defaultCNFFunctionConfig}) readonly cnfFunctionsConfig!: CNFFunctionConfig
  @Prop({default: ()=>configs.defaultCNFConditionalConfig}) readonly cnfConditionalConfig!: CNFConditionalConfig
  @Prop({default: false}) readonly debug!: boolean

  @Emit()
  public filtersFromText(): object {
    let [valid, error] = extractFiltersFromText({
        input: this.input,
        tknFieldMap:this.tknFieldMap,
        tknFunctionMap:this.tknFunctionMap,
        tknConditionalMap:this.tknConditionalMap,
        fieldTokens:undefined,
        functionTokens:undefined,
        conditionalTokens:undefined,
        scrubInputPattern:this.PunctuationPattern,
        cnfLogicConfig:this.cnfLogicConfig,
        cnfFunctionsConfig:this.cnfFunctionsConfig,
        cnfConditionalConfig:this.cnfConditionalConfig,
        debug:this.debug
    })
    this.input = ''
    return {valid, error}
  }
}
</script>

<style lang="css" scoped>
</style>
