<template>
  <div class="">
    <div class="v-records-table__tooltip" :style="tooltipStyle">
      <slot name="tooltip">
        <v-card v-if="tooltipText !== null">
          <v-card-text>
            {{tooltipText}}
          </v-card-text>
        </v-card>
      </slot>
    </div>

    <v-card tile flat class="overflow-hidden">
      <v-data-table
        :loading="status!==''"
        :page="page"
        :items-per-page="recordsPerPage"
        @update:items-per-page="recordsPerPage=$event"
        :items="timsorted"
        :calculate-widths="true"
        fixed-header
        :headers-length="fields.length"
      >
        <template v-slot:top>
          <v-row>
            <v-col cols="12">
              <VTableProfileBtns
                class="mx-4"
                :value="tableProfileIndex"
                :hasConfig="hasExtractorConfig"
                @change="tableProfileIndex=$event===undefined?0:$event"
                @click:cog="configDrawerToggle=true"
              />
            </v-col>
            <div>
              <slot name="filters">
                <v-col cols="12" v-if="hasAtLeastOneFilter">
                  <VCnf
                    class="mx-4"
                    :filters="filters"
                    :fieldMap="fieldSynonymMap"
                    :cnfLogicConfig="cnfLogicConfig"
                    :cnfFunctionsConfig="cnfFunctionsConfig"
                    :cnfConditionalConfig="cnfConditionalConfig"
                    :regex="globalRegEx"
                    @click:close="removeFilter"
                    @click:close:regex="removeRegEx"
                  />
                </v-col>
              </slot>
            </div>
          </v-row>

          <v-row>
            <v-col cols="12" v-show="tableProfileIndex===0">
              <VFrxtInput
                :tknFieldMap="tknFieldMap"
                :tknFunctionMap="tknFunctionMap"
                :tknConditionalMap="tknConditionalMap"
                :fieldTokens="fieldTokens"
                :functionTokens="functionTokens"
                :conditionalTokens="conditionalTokens"
                :PunctuationPattern="PunctuationPattern"
                :cnfLogicConfig="cnfLogicConfig"
                :cnfFunctionsConfig="cnfFunctionsConfig"
                :cnfConditionalConfig="cnfConditionalConfig"
                :debug="debug"
                :hint="`type statements in the form of 'logic field (function) test value'.`"
                :label="`Free Text`"
                :persistentHint="true"
                :appendIcon="`mdi-filter`"
                @filters-from-text="setFilters"
                class="mx-4"
              />
            </v-col>
            <v-col cols="12" v-show="tableProfileIndex===1">
              <VTimSort
                class="mx-4"
                :sortSpecifications="sortSpecifications"
                :fieldMap="tknFieldMap"
                @change="updateTimSort"
              />
            </v-col>
            <v-col cols="12" v-show="tableProfileIndex===2">
              <v-text-field
                :value="globalRegEx"
                label="Global Search"
                class="mx-4"
                clearable
                @change="debounceRegEx"
                @input="debounceRegEx"
                append-icon="mdi-format-quote-close"
               />
            </v-col>
          </v-row>
        </template>

        <template v-slot:progress>
          <v-row class="mx-4">
            <v-col>
              Status: {{status}}
            </v-col>
          </v-row>
          <v-progress-linear color="primary" :height="10" indeterminate/>
        </template>


        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <th v-if="showSelect">
                <v-checkbox v-model="selectAllModel" @change="toggleAllSelection"/>
              </th>
              <VRecordsTableHeaderCell
                v-for="(field, i) in fields"
                :key="`header-${field}`"
                @click="headerToggleSortField"
                :field="field"
                :fieldText="headerFields[i]"
                :fieldSortNumber="fieldSortNumber(field)"
                :fieldSortIcon="fieldSortDirectionIcon(field)"
              />
            </tr>
          </thead>
        </template>


        <template v-slot:item="{ item }">
            <tr
              :key="`item-${item}`"
              @click="clickRecord($event, item)"
              @mousemove="mousemoveRecord($event, item)"
              @mouseover="mouseoverRecord($event, item)"
              @mouseleave="mouseleaveRecord($event, item)"
            >
              <td v-if="showSelect">
                <v-checkbox
                  @change="toggleSelect(item)"
                  :input-value="inSelectedIds(item) > -1"
                />
              </td>
              <td
                v-for="field in fields"
                :key="`item-${item}-${field}`"
                v-html="fieldRender(item, field)"
                @click="clickRecordField($event, item, field)"
                @mousemove="mousemoveRecordField($event, item, field)"
                @mouseover="mouseoverRecordField($event, item, field)"
                @mouseleave="mouseleaveRecordField($event, item, field)"
              >
              </td>
            </tr>
        </template>
      </v-data-table>


      <v-navigation-drawer
        v-if="hasExtractorConfig"
        v-model="configDrawerToggle"
        temporary
        absolute
      >
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              Configuration Panel
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <VExtractorConfig
          @change="changeExtractorConfig"
          :extractorConfig="extractorConfig"
          :functionLookup="functionLookup"
        />
      </v-navigation-drawer>
    </v-card>
  </div>

</template>

<script lang="ts">
import {
  Component, Vue,
  Prop, Emit, Watch
} from 'vue-property-decorator';

import {
  VDataTable, VCol,
  VHover, VRow, VTextField, VAutocomplete, VProgressLinear,
  VBadge, VIcon, VBtn, VNavigationDrawer, VCheckbox
} from 'vuetify/lib'

import {
  configs,
  debounce,
  toggleSortSpecification,
  sortIndexFromSpecification,
  sortDirectionFromSpecification,
  isObjectEmpty,
  jsonFields, uuidv4,
  groupByConjunctiveNormalForm,
  extractTokensFromMap,
  lookup, identity,
  extractFiltersFromText,
  conjunctiveNormalFormFilter,
  giRegexOnFields, sortAtomic, timsort,
} from 'frxt'
import {
  TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig,
  JSONSQL, ExtractorConfig, Filter, Record,
  Field, RecordId, RecordIds, SortSpecifications
} from 'frxt/dist/types'

import VFrxtInput from './VFrxtInput.vue'
import VCnf from './VCnf.vue'
import VTimSort from './VTimSort.vue'
import VTableProfileBtns from './VTableProfileBtns.vue'
import VExtractorConfig from './VExtractorConfig'
import VRecordsTableHeaderCell from './VRecordsTableHeaderCell'
@Component({
  components: {
    VFrxtInput, VCnf, VTimSort,
    VTableProfileBtns, VExtractorConfig,
    VRecordsTableHeaderCell
  }
})
export default class VRecordsTable extends Vue {
  @Prop({default: ()=>({})}) readonly json!: JSONSQL

  // field --> synonym, only one synonym per field
  @Prop({default: ()=>({})}) readonly fieldSynonymMap!: TokenMapConfig
  // @Prop({default: ()=>({})}) readonly tknFieldMap!: TokenMapConfig


  @Prop({default: ()=>configs.defaultFieldRenderFunctions}) readonly fieldRenderFunctions!: ExtractorConfig
  @Prop({default: ()=>configs.defaultFieldFilterFunctions}) readonly fieldFilterFunctions!: ExtractorConfig
  @Prop({default: ()=>configs.defaultFieldSortByFunctions}) readonly fieldSortByFunctions!: ExtractorConfig


  @Prop({default: ()=>configs.PunctuationPattern}) readonly PunctuationPattern!: RegExp | string
  @Prop({default: ()=>configs.defaultCNFFunctionMap}) readonly tknFunctionMap!: TokenMapConfig
  @Prop({default: ()=>configs.defaultCNFConditionalMap}) readonly tknConditionalMap!: TokenMapConfig

  // @Prop({default: undefined}) readonly fieldTokens!: string[]|undefined
  // @Prop({default: undefined}) readonly functionTokens!: string[]|undefined
  // @Prop({default: undefined}) readonly conditionalTokens!: string[]|undefined

  @Prop({default: ()=>configs.defaultCNFLogicConfig}) readonly cnfLogicConfig!: CNFLogicConfig
  @Prop({default: ()=>configs.defaultCNFFunctionConfig}) readonly cnfFunctionsConfig!: CNFFunctionConfig
  @Prop({default: ()=>configs.defaultCNFConditionalConfig}) readonly cnfConditionalConfig!: CNFConditionalConfig



  @Prop({default: ()=>([])}) readonly fieldOrder!: Field[]
  @Prop({default: ()=>([])}) readonly selected!: RecordIds
  @Prop({default: true}) readonly showSelect!: boolean



  @Prop({default: false}) readonly debug!: boolean

  @Prop({default: ()=>({})}) readonly extractorConfig!: object
  @Prop({default: ()=>({})}) readonly functionLookup!: boolean






  private tableProfileIndex: number = 0
  private configDrawerToggle: boolean = false
  private page: number = 0
  private isPaginated: boolean = true
  private recordsPerPage: number = 5
  private globalRegEx: string = ''
  private sortSpecifications: SortSpecifications = []
  private filters: Filter[] = []
  private failedFilters: Filter[] = []

  private filtered: RecordIds = []
  private regmatched: RecordIds = []
  private timsorted: RecordIds = []

  private isTextProcessing: boolean = false
  private isFiltering: boolean = false
  private isRegmatching: boolean = false
  private isTimSorting: boolean = false

  private status: string = ''

  private selectedIds: RecordIds = []
  private selectAllModel: boolean = false


  private extractorConfigFieldRenderFunctions: ExtractorConfig = {}
  private extractorConfigFieldFilterFunctions: ExtractorConfig = {}
  private extractorConfigFieldSortByFunctions: ExtractorConfig = {}

  tooltipText:string|null = null
  tooltipStyle = {}

  public updateTooltip({event, id, field}) {
    this.tooltipStyle = {
      left: `${event.pageX}px`,
      top: `${event.pageY}px`,
      position: 'absolute',
      zIndex: 2000,
      maxWidth: '300px',
      transition: 'all 0.5s ease '
    }

    if (id===null) {
      this.tooltipText = null
      return
    }

    let record = this.json[id]
    if (record === undefined) return
    let value = record[field]
    if (value === undefined) return
    let text = value.tooltip

    if (text === undefined) return
    this.tooltipText = text
  }

  get uid():string {
    return uuidv4()
  }
  get namespace():string{
    return `v-records-table-${this.uid}`
  }
  get ids():RecordIds {
    return Object.keys(this.json) as RecordIds
  }
  get $fields(): Field[] {
    return jsonFields(this.json) as Field[]
  }
  get fields(): Field[] {
    return (this.fieldOrder.length === 0)
      ? this.$fields
      : this.fieldOrder
  }

  get $fieldRenderFunctions() {
    return {...this.fieldRenderFunctions, ...this.extractorConfigFieldRenderFunctions}
  }
  get $fieldFilterFunctions() {
    return {...this.fieldFilterFunctions, ...this.extractorConfigFieldFilterFunctions}
  }
  get $fieldSortByFunctions() {
    return {...this.fieldSortByFunctions, ...this.extractorConfigFieldSortByFunctions}
  }

  get tknFieldMap():TokenMapConfig {
    let map = {} as TokenMapConfig
    this.fields.forEach(field=>{
      map[field] = field
    })

    Object.keys(this.fieldSynonymMap).forEach(field=>{
      let humanField = this.fieldSynonymMap[field]
      map[humanField] = field
    })
    return map as TokenMapConfig
  }


  @Emit('change:extractor-config')
  public changeExtractorConfig(payload) {
    this.extractorConfigFieldRenderFunctions = payload.renderFunctions
    this.extractorConfigFieldFilterFunctions = payload.filterFunctions
    this.extractorConfigFieldSortByFunctions = payload.sortByFunctions
    return payload
  }

  get fieldTokens(): string[] {
    return extractTokensFromMap(this.tknFieldMap)
  }
  get functionTokens(): string[] {
    return extractTokensFromMap(this.tknFunctionMap)
  }
  get conditionalTokens(): string[] {
    return extractTokensFromMap(this.tknConditionalMap)
  }


  get numberOfRecords():number {
    return this.ids.length
  }
  get numberOfFilteredRecords():number {
    return this.timsorted.length
  }
  get filtersGroupedByConjunctiveNormalForm() {
    return groupByConjunctiveNormalForm(this.filters)
  }

  get hasExtractorConfig():boolean {
    return !isObjectEmpty(this.extractorConfig)
    return false
    // return Object.keys(this.configOptions).length > 0
  }



  public setInitialState():void {
    let ids = Object.keys(this.json) as RecordIds
    this.filtered = ids
    this.regmatched = ids
    this.timsorted = ids
    this.selectedIds = [...this.selected] as RecordIds
  }

  created() {
    this.setInitialState()
    this.debounceRegEx = debounce((e:string)=>{
      this.globalRegEx = e
    }, 500)
    this.debounceMousemoveRecord = debounce(({event, id})=>{
      this.$emit('mousemove:record', {event, id})
    }, 500)
    this.debounceMousemoveRecordField = debounce(({event, id, field})=>{
      this.updateTooltip({event, id, field})
      this.$emit('mousemove:record:field', {event, id, field})
    }, 100)
  }
  @Watch('json')
  jsonChanges(newJson:JSONSQL, oldJson:JSONSQL) {
    this.setInitialState()
  }
  @Watch('filters')
  filtersChanged(newFilters:Filter[], oldFilters:Filter[]) {
    this.filterJSON()
  }
  @Watch('filtered')
  filteredChanged(newFiltered:RecordIds[], oldFiltered:RecordIds[]) {
    this.regmatchJSON()
  }
  @Watch('regmatched')
  regmatchedChanged(newRegmatched:RecordIds[], oldRegmatched:RecordIds[]) {
    this.timSortJSON()
  }
  @Watch('sortSpecifications')
  sortSpecsChanged(newSortSpecs:SortSpecifications[], oldSortSpecs:SortSpecifications[]) {
    this.timSortJSON()
  }
  @Watch('globalRegEx')
  globalRegExChanged(newRegEx:RecordIds[], oldRegEx:RecordIds[]) {
    this.regmatchJSON()
  }



  public record(id:RecordId): Record {
    return this.json[id]
  }
  public fieldRenderFunction(field:Field) {
    return lookup(this.$fieldRenderFunctions, field, identity)
  }
  public fieldSortByFunction(field:Field) {
    return lookup(this.$fieldSortByFunctions, field, identity)
  }
  public fieldFilterFunction(field:Field) {
    return lookup(this.$fieldFilterFunctions, field, identity)
  }
  public fieldRender(id:RecordId, field:Field) {
    return this.fieldRenderFunction(field)(id, field, this.record(id))
  }
  public fieldSortBy(id:RecordId, field:Field) {
    return this.fieldSortByFunction(field)(id, field, this.record(id))
  }
  public fieldFilter(id:RecordId, field:Field) {
    return this.fieldFilterFunction(field)(id, field, this.record(id))
  }

  public opacityStyle(bool:boolean): object {
    return {
      opacity: bool ? 1 : 0,
      transition: 'all 0.5s ease'
    }
  }


  public setFilters({valid, error}):void {
    console.log('here', {valid, error})
    this.filters = [...this.filters, ...valid.map(({filter})=>filter as Filter)] as Filter[]
    this.failedFilters = error.map(({filter})=>filter as Filter) as Filter[]
    // this.logicCascade()
  }

  public removeFilter(i:number):void {
    let newFilters = [...this.filters]  as Filter[]
    newFilters.splice(i, 1)
    this.filters = [...newFilters] as Filter[]
  }
  public removeRegEx():void {
    this.debounceRegEx('')
  }
  public updateTimSort(newSortSpecifications:SortSpecifications):void {
    this.sortSpecifications = [...newSortSpecifications] as SortSpecifications
  }

  // @Debounce(500)
  // private debounceRegEx(e:string) {
  //   this.globalRegEx = e
  // }

  @Emit('change:selected')
  public toggleAllSelection():RecordIds {
    if (this.selectAllModel === true) {
      this.selectedIds = this.timsorted
    } else {
      this.selectedIds = [] as RecordIds
    }
    return this.selectedIds
  }

  get headerFields(): Field[] {
    return this.fields.map(field=>{
      if (field in this.fieldSynonymMap) return this.fieldSynonymMap[field]
      return field as Field
    })
  }

  get hasAtLeastOneFilter(): boolean {
    return this.filtersGroupedByConjunctiveNormalForm.length > 0 ||
    this.globalRegEx !== ''
  }

  @Emit('click:header')
  public headerToggleSortField(field:Field):Field {
    this.toggleSortField(field)
    return field as Field
  }
  public toggleSortField(field:Field):void {
    let newSortSpecs = toggleSortSpecification(this.sortSpecifications, field)
    this.sortSpecifications = [...newSortSpecs]
  }

  public fieldSortNumber(field:Field):number {
    return sortIndexFromSpecification(this.sortSpecifications, field)
  }
  public fieldSortDirection(field:Field): boolean|undefined {
    return sortDirectionFromSpecification(this.sortSpecifications, field)
  }
  public fieldSortDirectionIcon(field:Field): string {
    let dir = this.fieldSortDirection(field)
    if (dir === undefined) return 'mdi-arrow-up'
    return dir ? 'mdi-arrow-up' : 'mdi-arrow-down'
  }

  public inSelectedIds(id:RecordId):number {
    for (let i = 0; i < this.selectedIds.length; i++) {
      let other = this.selectedIds[i]
      if (id === other) return i
    }
    return -1
  }

  @Emit('change:selected')
  public toggleSelect(id:RecordId): RecordIds {
    let inSelectedIds = this.inSelectedIds(id)
    if (inSelectedIds > -1) {
      this.selectedIds.splice(inSelectedIds, 1)
    } else {
      this.selectedIds.push(id)
    }
    return this.selectedIds
  }



  @Emit('change:filtered')
  public filterJSON(): RecordIds {
    if (this.filters.length === 0) {
      this.filtered = [...this.ids] as RecordIds
      return this.filtered
    }
    this.isFiltering = true
    this.status = 'Applying filters to data'

    this.filtered = [...conjunctiveNormalFormFilter(
      this.json,
      this.filters,
      this.cnfLogicConfig,
      this.cnfFunctionsConfig,
      this.cnfConditionalConfig,
      this.fieldFilterFunctions
    )]
    this.isFiltering = false
    this.status = ''
    return this.filtered
  }

  @Emit('change:regmatched')
  public regmatchJSON(): RecordIds {
    this.isRegmatching = true
    this.status = 'Searching passing data for RegEX'

    let ids = this.filtered
    if (this.globalRegEx === '') {
      this.regmatched = [...ids]
      this.status = ''
      return ids
    }

    this.regmatched = [...giRegexOnFields(
      this.globalRegEx,
      this.json,
      ids,
      this.fields,
      this.fieldFilterFunctions
    )]
    this.isRegmatching = false
    this.status = ''
    return this.regmatched
  }

  @Emit('change:timsort')
  public timSortJSON(): RecordIds {
    this.isTimSorting = true
    this.status = 'Sorting remaining data'

    this.timsorted = timsort(
      this.json,
      this.sortSpecifications,
      this.regmatched,
      this.fieldSortByFunctions,
      sortAtomic
    )
    this.isTimSorting = false
    this.status = ''
    return this.timsorted
  }








  @Emit('click:record')
  public clickRecord(event:any, item:RecordId) :object {
    return {event, id:item}
  }
  // @Emit('mousemove:record')
  public mousemoveRecord(event:any, item:RecordId) :object {
    this.debounceMousemoveRecord({event, id:item})
  }
  @Emit('mouseover:record')
  public mouseoverRecord(event:any, item:RecordId) :object {
    return {event, id:item}
  }
  @Emit('mouseleave:record')
  public mouseleaveRecord(event:any, item:RecordId) :object {
    this.debounceMousemoveRecord({event, id:null})
    return {event, id:item}
  }
  @Emit('click:record:field')
  public clickRecordField(event:any, item:RecordId, field:Field) :object {
    return {event, id:item, field}
  }
  // @Emit('mousemove:record:field')
  public mousemoveRecordField(event:any, item:RecordId, field:Field) :object {
    this.debounceMousemoveRecordField({event, id:item, field})
    // this.updateTooltip({event, id:item, field})
    // return {event, id:item, field}
  }
  @Emit('mouseover:record:field')
  public mouseoverRecordField(event:any, item:RecordId, field:Field) :object {
    // this.updateTooltip({event, id:item, field})
    this.debounceMousemoveRecordField({event, id:item, field})
    return {event, id:item, field}
  }
  @Emit('mouseleave:record:field')
  public mouseleaveRecordField(event:any, item:RecordId, field:Field) :object {
    // this.updateTooltip({event, id:null, field})
    this.debounceMousemoveRecordField({event, id:null, field})
    return {event, id:item, field}
  }
}
</script>

<style lang="css">
</style>
