<template>
  <div cols="12" class="d-flex">
    <v-btn-toggle
      :value="value"
      borderless dense
      @change="change"
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-filter</v-icon>
          </v-btn>
        </template>
        <span>free text filter</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-sort</v-icon>
          </v-btn>
        </template>
        <span>tim sort specification</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-format-quote-close</v-icon>
          </v-btn>
        </template>
        <span>regex search</span>
      </v-tooltip>
    </v-btn-toggle>
    <v-spacer></v-spacer>
    <v-tooltip bottom v-if="hasConfig">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" depressed @click="clickCog">
          <v-icon>mdi-cog</v-icon>
        </v-btn>
      </template>
      <span>configure</span>
    </v-tooltip>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VBtnToggle, VTooltip,
  VBtn, VIcon
} from 'vuetify/lib'

import {configs, groupByConjunctiveNormalForm} from 'frxt'
import {
  TokenMapConfig, Filter,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

import VCnfOrGroup from './VCnfOrGroup.vue'


@Component({

})
export default class VTableProfileBtns extends Vue {
  @Prop({default: true}) readonly hasConfig!: boolean
  @Prop({default: 0}) readonly value!: number


  @Emit()
  public change(n:number): number {
    return n
  }

  @Emit('click:cog')
  public clickCog(): boolean {
    return true
  }

}
</script>

<style lang="css">

</style>
