<template>
  <v-autocomplete
    :value="sortSpecifications"
    :items="autocompleteItems"
    label="TimSort"
    multiple
    item-value="field"
    item-text="text"
    clearable
    @click:clear="clear"
    hide-selected
    append-icon="mdi-sort"
    @change="toggle"
    ref="autocomplete"
  >
    <template slot="selection" slot-scope="data">
      <v-chip
         :input-value="data.selected"
         close small
         class="chip--select-multi"
         @click:close="remove(data.item.field)"
         @click.prevent.stop="toggle(data.item.field)"
      >
        <v-avatar>
          <v-icon small left>
            {{fieldSortDirectionIcon(data.item.field)}}
          </v-icon>
        </v-avatar>
        {{ data.item.text }}
      </v-chip>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

import {
  VChip, VAvatar, VIcon, VAutocomplete
} from 'vuetify/lib'

import {
  configs,
  sortIndexFromSpecification,
  sortDirectionFromSpecification,
  toggleSortSpecification
} from 'frxt'

import {
  TokenMapConfig, SortSpecifications, SortSpecification, Field
} from 'frxt/dist/types'

@Component({
  // components: {
  //   VChip, VAvatar, VIcon, VAutocomplete
  // }
})
export default class VTimSort extends Vue {
  @Prop({default: ()=>([])}) readonly sortSpecifications!: SortSpecifications
  @Prop({default: ()=>({})}) readonly fieldMap!: TokenMapConfig

  get autocompleteItems(): object[] {
    let items = []
    Object.keys(this.fieldMap).forEach(field=>{
      let humanField = this.fieldMap[field]
      let item = {field, text:humanField}
      items.push(item)
    })
    return items
    // return this.sortSpecifications.map((sortSpec)=>{
    //   let field = sortSpec.field
    //   let item = {field, text:field}
    //   if (field in this.fieldMap) item.text = this.fieldMap[field]
    //   return item
    // })
  }

  public fieldSortDirectionIcon(field:Field): string {
    let dir = sortDirectionFromSpecification(this.sortSpecifications, field)
    if (dir === undefined) return 'mdi-arrow-up'
    return dir ? 'mdi-arrow-up' : 'mdi-arrow-down'
  }

  public autocompleteChange(fields:Field[]): void {
    let newFields = [] as string[]
    if (fields.length !== 0) {
      newFields = fields.filter(field => {
        let i = sortIndexFromSpecification(this.sortSpecifications, field)
        return i > -1
      })
    }
    this.toggle(newFields)
  }

  @Emit('change')
  public clear(): SortSpecifications {
    return []
  }

  @Emit('change')
  public toggle(payload:any): SortSpecifications {
    let newSortSpec = this.sortSpecifications.concat()
    if (Array.isArray(payload)) {
      let fields = payload as Field[]
      let newFields = fields.filter(field=>{
        let i = sortIndexFromSpecification(newSortSpec, field)
        return i < 0
      })
      newFields.forEach(field=>{
        newSortSpec = toggleSortSpecification(newSortSpec, field)
      })
    } else {
      let field = payload as Field
      newSortSpec = toggleSortSpecification(newSortSpec, field)
    }
    return newSortSpec
  }

  @Emit('change')
  public remove(payload:any): SortSpecifications {
    let field = payload as Field
    let newSortSpec = this.sortSpecifications.concat()
    let i = sortIndexFromSpecification(newSortSpec, field)
    newSortSpec.splice(i, 1)
    return newSortSpec
  }
}
</script>

<style lang="css">

</style>
