<template>
  <v-chip small close @click:close="clickClose" class="cnf__chip">

    <span class="cnf__function" v-if="notIdentityFn">
      {{functionString}}
    </span>

    <!-- <template v-if="notIdentityFn">(</template> -->
    <span class="cnf__field" :class="{'cnf__field--function-applied': notIdentityFn}">
      {{ fieldString }}
    </span>
    <!-- <template v-if="notIdentityFn">)</template> -->

    <span class="cnf__conditional">
      &nbsp;
      {{ conditionalString }}
      &nbsp;
    </span>

    <span class="cnf__input">
      {{ filter.input }}
    </span>

  </v-chip>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VChip
} from 'vuetify/lib'

import {configs, reverseLookup} from 'frxt'
import {
  Filter, TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

export default Vue.extend({
  components: {
    VChip
  },
  props: {
    logicalAndFilterGroupIndex:{
      type: Number,
      default: 0
    },
    logicalOrFilterGroupIndex:{
      type: Number,
      default: 0
    },
    filter: {
      type: Object as PropType<Filter>,
      default: () => ({
        logic: 'and',
        function: 'identity',
        field: '',
        conditional: 'is',
        input: ''
      })
    },
    fieldMap: {
      type: Object as PropType<TokenMapConfig>,
      default: ()=>({})
    },
    cnfLogicConfig: {
      type: Object as PropType<CNFLogicConfig>,
      default: ()=>configs.defaultCNFLogicConfig
    },
    cnfFunctionsConfig: {
      type: Object as PropType<CNFFunctionConfig>,
      default: ()=>configs.defaultCNFFunctionConfig
    },
    cnfConditionalConfig: {
      type: Object as PropType<CNFConditionalConfig>,
      default: ()=>configs.defaultCNFConditionalConfig
    },
  },
  methods: {
    clickClose(): void {
      this.$emit('click:close', [this.logicalAndFilterGroupIndex, this.logicalOrFilterGroupIndex])
    }
  },
  computed: {
    notIdentityFn(): boolean {
      return this.filter.function !== 'identity'
    },
    functionString(): string {
      let fn = this.filter.function
      return this.cnfFunctionsConfig[fn].display
    },
    fieldString(): string {
      let field = this.filter.field
      return reverseLookup(this.fieldMap, field)
    },
    conditionalString(): string {
      let cond = this.filter.conditional
      return this.cnfConditionalConfig[cond].display
    }
  }
})
</script>

<style lang="css">
.cnf__field--function-applied::before {
  content: '(';
  color: black;
}
.cnf__field--function-applied::after {
  content: ')';
  color: black;
}
</style>
