<template>
  <div class="">
    <div class="v-records-table__tooltip" :style="tooltipStyle">
      <slot name="tooltip">
        <v-card v-if="tooltipText !== null">
          <v-card-text>
            {{tooltipText}}
          </v-card-text>
        </v-card>
      </slot>
    </div>

    <v-card tile flat class="overflow-hidden">
      <v-data-table
        :loading="status!==''"
        :page="page"
        :items-per-page="recordsPerPage"
        @update:items-per-page="recordsPerPage=$event"
        :items="timsorted"
        :calculate-widths="true"
        fixed-header
        :headers-length="fields.length"
        hide-default-header
        :hide-default-footer="!showTable"
      >
        <template v-slot:top>
          <v-row>
            <v-col cols="12">
              <VTableProfileBtns
                class="mx-4"
                :value="tableProfileIndex"
                :hasConfig="hasExtractorConfig"
                @change="tableProfileIndex=$event===undefined?0:$event"
                @click:cog="configDrawerToggle=true"
              />
            </v-col>
            <div>
              <slot name="filters">
                <v-col cols="12" v-if="hasAtLeastOneFilter">
                  <VCnf
                    class="mx-4"
                    :filters="filters"
                    :fieldMap="fieldSynonymMap"
                    :cnfLogicConfig="cnfLogicConfig"
                    :cnfFunctionsConfig="cnfFunctionsConfig"
                    :cnfConditionalConfig="cnfConditionalConfig"
                    :regex="globalRegEx"
                    @click:close="removeFilter"
                    @click:close:regex="removeRegEx"
                  />
                </v-col>
              </slot>
            </div>
          </v-row>

          <v-row>
            <v-col cols="12" v-show="tableProfileIndex===0">
              <VFrxtInput
                ref="VFrxtInput"
                :tknFieldMap="tknFieldMap"
                :tknFunctionMap="tknFunctionMap"
                :tknConditionalMap="tknConditionalMap"
                :fieldTokens="fieldTokens"
                :functionTokens="functionTokens"
                :conditionalTokens="conditionalTokens"
                :PunctuationPattern="PunctuationPattern"
                :cnfLogicConfig="cnfLogicConfig"
                :cnfFunctionsConfig="cnfFunctionsConfig"
                :cnfConditionalConfig="cnfConditionalConfig"
                :debug="debug"
                :hint="`type statements in the form of 'logic field (function) test value'.`"
                :label="`Free Text`"
                :persistentHint="true"
                :appendIcon="`mdi-filter`"
                @filters-from-text="setFilters"
                class="mx-4"
              />
            </v-col>
            <v-col cols="12" v-show="tableProfileIndex===1">
              <VTimSort
                class="mx-4"
                :sortSpecifications="sortSpecifications"
                :fieldMap="tknFieldMap"
                @change="updateTimSort"
              />
            </v-col>
            <v-col cols="12" v-show="tableProfileIndex===2">
              <v-text-field
                :value="globalRegEx"
                label="Global Search"
                class="mx-4"
                clearable
                @change="debounceRegEx"
                @input="debounceRegEx"
                append-icon="mdi-format-quote-close"
               />
            </v-col>
          </v-row>
        </template>

        <template v-slot:progress>
          <v-row class="mx-4">
            <v-col>
              Status: {{status}}
            </v-col>
          </v-row>
          <v-progress-linear color="primary" :height="10" indeterminate/>
        </template>


        <template v-slot:header="{ props: { headers } }">
          <thead v-if="showTable">
            <tr>
              <th v-if="showSelect">
                <v-checkbox v-model="selectAllModel" @change="toggleAllSelection"/>
              </th>
              <VRecordsTableHeaderCell
                v-for="(field, i) in fields"
                :key="`header-${field}`"
                @click="headerToggleSortField"
                :field="field"
                :fieldText="headerFields[i]"
                :fieldSortNumber="fieldSortNumber(field)"
                :fieldSortIcon="fieldSortDirectionIcon(field)"
              />
            </tr>
          </thead>
        </template>


        <template v-slot:item="{ item }">
            <tr
              v-if="showTable"
              :key="`item-${item}`"
              @click="clickRecord($event, item)"
              @mousemove="mousemoveRecord($event, item)"
              @mouseover="mouseoverRecord($event, item)"
              @mouseleave="mouseleaveRecord($event, item)"
            >
              <td v-if="showSelect">
                <v-checkbox
                  @change="toggleSelect(item)"
                  :input-value="inSelectedIds(item) > -1"
                />
              </td>
              <td
                v-for="field in fields"
                :key="`item-${item}-${field}`"
                v-html="fieldRender(item, field)"
                @click="clickRecordField($event, item, field)"
                @mousemove="mousemoveRecordField($event, item, field)"
                @mouseover="mouseoverRecordField($event, item, field)"
                @mouseleave="mouseleaveRecordField($event, item, field)"
              >
              </td>
            </tr>
        </template>
      </v-data-table>


      <v-navigation-drawer
        v-if="hasExtractorConfig"
        v-model="configDrawerToggle"
        temporary
        absolute
      >
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              Configuration Panel
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <VExtractorConfig
          @change="changeExtractorConfig"
          :extractorConfig="extractorConfig"
          :functionLookup="functionLookup"
        />
      </v-navigation-drawer>
    </v-card>
  </div>

</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VDataTable, VCol,
  VHover, VRow, VTextField, VAutocomplete, VProgressLinear,
  VBadge, VIcon, VBtn, VNavigationDrawer, VCheckbox
} from 'vuetify/lib'

import {
  configs,
  debounce,
  toggleSortSpecification,
  sortIndexFromSpecification,
  sortDirectionFromSpecification,
  isObjectEmpty,
  jsonFields, uuidv4,
  groupByConjunctiveNormalForm,
  extractTokensFromMap,
  lookup, identity,
  extractFiltersFromText,
  conjunctiveNormalFormFilter,
  giRegexOnFields, sortAtomic, timsort,
  reverseLookup
} from 'frxt'
import {
  TokenMapConfig,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig,
  JSONSQL, ExtractorConfig, Filter, Record,
  Field, RecordId, RecordIds, SortSpecifications,
  ExtractorFunction
} from 'frxt/dist/types'

import VFrxtInput from './VFrxtInput.vue'
import VCnf from './VCnf.vue'
import VTimSort from './VTimSort.vue'
import VTableProfileBtns from './VTableProfileBtns.vue'
import VExtractorConfig from './VExtractorConfig.vue'
import VRecordsTableHeaderCell from './VRecordsTableHeaderCell.vue'

export default Vue.extend({
  components: {
    VFrxtInput, VCnf, VTimSort,
    VTableProfileBtns, VExtractorConfig,
    VRecordsTableHeaderCell,
    VDataTable, VCol,
    VHover, VRow, VTextField, VAutocomplete, VProgressLinear,
    VBadge, VIcon, VBtn, VNavigationDrawer, VCheckbox
  },
  props: {
    json:{
      type: Object as PropType<JSONSQL>,
      default: () => ({})
    },
    fieldSynonymMap:{
      type: Object as PropType<TokenMapConfig>,
      default: () => ({})
    },
    fieldRenderFunctions:{
      type: Object as PropType<ExtractorConfig>,
      default: ()=>configs.defaultFieldRenderFunctions
    },
    fieldFilterFunctions:{
      type: Object as PropType<ExtractorConfig>,
      default: ()=>configs.defaultFieldFilterFunctions
    },
    fieldSortByFunctions:{
      type: Object as PropType<ExtractorConfig>,
      default: ()=>configs.defaultFieldSortByFunctions
    },
    PunctuationPattern: {
      type: [RegExp, String],
      default: ()=>configs.PunctuationPattern,
    },
    tknFunctionMap: {
      type: Object as PropType<TokenMapConfig>,
      default: ()=>configs.defaultCNFFunctionMap,
    },
    tknConditionalMap: {
      type: Object as PropType<TokenMapConfig>,
      default: ()=>configs.defaultCNFConditionalMap,
    },
    cnfLogicConfig: {
      type: Object as PropType<CNFLogicConfig>,
      default: ()=>configs.defaultCNFLogicConfig,
    },
    cnfFunctionsConfig: {
      type: Object as PropType<CNFFunctionConfig>,
      default: ()=>configs.defaultCNFFunctionConfig,
    },
    cnfConditionalConfig: {
      type: Object as PropType<CNFConditionalConfig>,
      default: ()=>configs.defaultCNFConditionalConfig,
    },
    fieldOrder: {
      type: Array as PropType<Field[]>,
      default: () => ([])
    },
    selected: {
      type: Array as PropType<RecordIds>,
      default: () => ([])
    },
    showSelect: {
      type: Boolean,
      default: false
    },
    debug: {
      type: Boolean,
      default: false,
    },
    extractorConfig: {
      type: Object,
      default: () => ({})
    },
    functionLookup: {
      type: Object,
      default: () => ({})
    },
    showTable: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    tableProfileIndex: 0 as number,
    configDrawerToggle: false as boolean,
    page: 0 as number,
    isPaginated: true as boolean,
    recordsPerPage: 5 as number,
    globalRegEx: '' as string,
    sortSpecifications: [] as SortSpecifications,
    filters: [] as Filter[],
    failedFilters: [] as Filter[],
    filtered: [] as RecordIds,
    regmatched: [] as RecordIds,
    timsorted: [] as RecordIds,
    isTextProcessing: false as boolean,
    isFiltering: false as boolean,
    isRegmatching: false as boolean,
    isTimSorting: false as boolean,
    status: '' as string,
    selectedIds: [] as RecordIds,
    selectAllModel: false as boolean,
    extractorConfigFieldRenderFunctions: {} as ExtractorConfig,
    extractorConfigFieldFilterFunctions: {} as ExtractorConfig,
    extractorConfigFieldSortByFunctions: {} as ExtractorConfig,
    tooltipText:null as string|null,
    tooltipStyle:{}
  }),
  created() {
    this.setInitialState()
    this.debounceRegEx = debounce((e:string)=>{
      this.globalRegEx = e
    }, 500)
    this.debounceMousemoveRecord = debounce(({event, id})=>{
      this.$emit('mousemove:record', {event, id})
    }, 500)
    this.debounceMousemoveRecordField = debounce(({event, id, field})=>{
      this.updateTooltip({event, id, field})
      this.$emit('mousemove:record:field', {event, id, field})
    }, 100)
  },
  watch: {
    json: function(newJson:JSONSQL, oldJson:JSONSQL) {
      this.setInitialState()
    },
    filters: function(newFilters:Filter[], oldFilters:Filter[]) {
      this.filterJSON()
    },
    filtered: function(newFiltered:RecordIds[], oldFiltered:RecordIds[]) {
      this.regmatchJSON()
    },
    regmatched: function(newRegmatched:RecordIds[], oldRegmatched:RecordIds[]) {
      this.timSortJSON()
    },
    sortSpecifications: function(newSortSpecs:SortSpecifications[], oldSortSpecs:SortSpecifications[]) {
      this.timSortJSON()
    },
    globalRegEx: function(newRegEx:RecordIds[], oldRegEx:RecordIds[]) {
      this.regmatchJSON()
    }
  },
  computed: {
    uid():string {
      return uuidv4()
    },
    namespace():string{
      return `v-records-table-${this.uid}`
    },
    ids():RecordIds {
      return Object.keys(this.json) as RecordIds
    },
    $fields(): Field[] {
      return jsonFields(this.json) as Field[]
    },
    fields(): Field[] {
      return (this.fieldOrder.length === 0)
        ? this.$fields
        : this.fieldOrder
    },
    $fieldRenderFunctions():object {
      return {...this.fieldRenderFunctions, ...this.extractorConfigFieldRenderFunctions}
    },
    $fieldFilterFunctions():object {
      return {...this.fieldFilterFunctions, ...this.extractorConfigFieldFilterFunctions}
    },
    $fieldSortByFunctions():object {
      return {...this.fieldSortByFunctions, ...this.extractorConfigFieldSortByFunctions}
    },
    tknFieldMap():TokenMapConfig {
      let map = {} as TokenMapConfig
      this.fields.forEach(field=>{
        map[field] = field
      })
      Object.keys(this.fieldSynonymMap).forEach(humanField=>{
        let field = this.fieldSynonymMap[humanField]
        map[humanField] = field
      })
      return map as TokenMapConfig
    },
    fieldTokens(): string[] {
      return extractTokensFromMap(this.tknFieldMap)
    },
    functionTokens(): string[] {
      return extractTokensFromMap(this.tknFunctionMap)
    },
    conditionalTokens(): string[] {
      return extractTokensFromMap(this.tknConditionalMap)
    },
    numberOfRecords():number {
      return this.ids.length
    },
    numberOfFilteredRecords():number {
      return this.timsorted.length
    },
    filtersGroupedByConjunctiveNormalForm(): any[] {
      return groupByConjunctiveNormalForm(this.filters)
    },
    hasExtractorConfig():boolean {
      return !isObjectEmpty(this.extractorConfig)
    },
    headerFields(): Field[] {
      return this.fields.map(field=>{
        return reverseLookup(this.tknFieldMap, field)
        // if (field in this.tknFieldMap) return this.tknFieldMap[field]
        // return field as Field
      })
    },
    hasAtLeastOneFilter(): boolean {
      return this.filtersGroupedByConjunctiveNormalForm.length > 0 ||
      this.globalRegEx !== ''
    },

  },
  methods: {
    updateTooltip({event, id, field}): void {
      this.tooltipStyle = {
        left: `${event.pageX}px`,
        top: `${event.pageY}px`,
        position: 'absolute',
        zIndex: 2000,
        maxWidth: '300px',
        transition: 'all 0.5s ease '
      }

      if (id===null) {
        this.tooltipText = null
        return
      }

      let record = this.json[id]
      if (record === undefined) return
      let value = record[field]
      if (value === undefined) return
      let text = value.tooltip

      if (text === undefined) return
      this.tooltipText = text
    },
    changeExtractorConfig(payload):void {
      this.extractorConfigFieldRenderFunctions = payload.renderFunctions
      this.extractorConfigFieldFilterFunctions = payload.filterFunctions
      this.extractorConfigFieldSortByFunctions = payload.sortByFunctions
      this.$emit('change:extractor-config', payload)
    },
    setInitialState():void {
      let ids = Object.keys(this.json) as RecordIds
      this.filtered = ids
      this.regmatched = ids
      this.timsorted = ids
      this.selectedIds = [...this.selected] as RecordIds
    },
    record(id:RecordId): Record {
      return this.json[id]
    },
    fieldRenderFunction(field:Field): ExtractorFunction {
      return lookup(this.$fieldRenderFunctions, field, identity)
    },
    fieldSortByFunction(field:Field): ExtractorFunction {
      return lookup(this.$fieldSortByFunctions, field, identity)
    },
    fieldFilterFunction(field:Field): ExtractorFunction {
      return lookup(this.$fieldFilterFunctions, field, identity)
    },
    fieldRender(id:RecordId, field:Field): any {
      return this.fieldRenderFunction(field)(id, field, this.record(id))
    },
    fieldSortBy(id:RecordId, field:Field): any {
      return this.fieldSortByFunction(field)(id, field, this.record(id))
    },
    fieldFilter(id:RecordId, field:Field): any {
      return this.fieldFilterFunction(field)(id, field, this.record(id))
    },
    setFilters({valid, error}):void {
      this.filters = [...this.filters, ...valid.map(({filter})=>filter as Filter)] as Filter[]
      this.failedFilters = error.map(({filter})=>filter as Filter) as Filter[]
    },
    removeFilter(i:number):void {
      let newFilters = [...this.filters]  as Filter[]
      newFilters.splice(i, 1)
      this.filters = [...newFilters] as Filter[]
    },
    removeRegEx():void {
      this.debounceRegEx('')
    },
    updateTimSort(newSortSpecifications:SortSpecifications):void {
      this.sortSpecifications = [...newSortSpecifications] as SortSpecifications
    },
    toggleAllSelection():RecordIds {
      if (this.selectAllModel === true) {
        this.selectedIds = this.timsorted
      } else {
        this.selectedIds = [] as RecordIds
      }
      this.$emit('change:selected', this.selectedIds)
      return this.selectedIds
    },
    headerToggleSortField(field:Field):Field {
      this.toggleSortField(field)
      this.$emit('click:header', field)
      return field as Field
    },
    toggleSortField(field:Field):void {
      let newSortSpecs = toggleSortSpecification(this.sortSpecifications, field)
      this.sortSpecifications = [...newSortSpecs]
    },
    fieldSortNumber(field:Field):number {
      return sortIndexFromSpecification(this.sortSpecifications, field)
    },
    fieldSortDirection(field:Field): boolean|undefined {
      return sortDirectionFromSpecification(this.sortSpecifications, field)
    },
    fieldSortDirectionIcon(field:Field): string {
      let dir = this.fieldSortDirection(field)
      if (dir === undefined) return 'mdi-arrow-up'
      return dir ? 'mdi-arrow-up' : 'mdi-arrow-down'
    },
    inSelectedIds(id:RecordId):number {
      for (let i = 0; i < this.selectedIds.length; i++) {
        let other = this.selectedIds[i]
        if (id === other) return i
      }
      return -1
    },
    toggleSelect(id:RecordId): RecordIds {
      let inSelectedIds = this.inSelectedIds(id)
      if (inSelectedIds > -1) {
        this.selectedIds.splice(inSelectedIds, 1)
      } else {
        this.selectedIds.push(id)
      }
      this.$emit('change:selected', this.selectedIds)
      return this.selectedIds
    },
    filterJSON(): RecordIds {
      if (this.filters.length === 0) {
        this.filtered = [...this.ids] as RecordIds
        return this.filtered
      }
      this.isFiltering = true
      this.status = 'Applying filters to data'

      this.filtered = [...conjunctiveNormalFormFilter(
        this.json,
        this.filters,
        this.cnfLogicConfig,
        this.cnfFunctionsConfig,
        this.cnfConditionalConfig,
        this.$fieldFilterFunctions
      )]
      this.isFiltering = false
      this.status = ''
      this.$emit('change:filtered', this.filtered)
      return this.filtered
    },
    regmatchJSON(): RecordIds {
      this.isRegmatching = true
      this.status = 'Searching passing data for RegEX'

      let ids = this.filtered
      if (this.globalRegEx === '') {
        this.regmatched = [...ids]
        this.status = ''
        return ids
      }

      this.regmatched = [...giRegexOnFields(
        this.globalRegEx,
        this.json,
        ids,
        this.fields,
        this.$fieldFilterFunctions
      )]
      this.isRegmatching = false
      this.status = ''
      this.$emit('change:regmatched', this.regmatched)
      return this.regmatched
    },
    timSortJSON(): RecordIds {
      this.isTimSorting = true
      this.status = 'Sorting remaining data'
      if (this.regmatched.length === 0) {
        this.timsorted = []
      } else {
        this.timsorted = timsort(
          this.json,
          this.sortSpecifications,
          this.regmatched,
          this.$fieldSortByFunctions,
          sortAtomic
        )
      }
      this.isTimSorting = false
      this.status = ''
      this.$emit('change:timsort', this.timsorted)
      return this.timsorted
    },
    clickRecord(event:any, item:RecordId):void {
      this.$emit('click:record', {event, id:item})
    },
    mousemoveRecord(event:any, item:RecordId):void {
      this.debounceMousemoveRecord({event, id:item})
    },
    mouseoverRecord(event:any, item:RecordId):void {
      this.$emit('mouseover:record', {event, id:item})
    },
    mouseleaveRecord(event:any, item:RecordId):void {
      this.debounceMousemoveRecord({event, id:null})
      this.$emit('mouseleave:record', {event, id:item})
    },
    clickRecordField(event:any, item:RecordId, field:Field):void {
      this.$emit('click:record:field', {event, id:item, field})
    },
    mousemoveRecordField(event:any, item:RecordId, field:Field):void {
      this.debounceMousemoveRecordField({event, id:item, field})
    },
    mouseoverRecordField(event:any, item:RecordId, field:Field):void {
      this.debounceMousemoveRecordField({event, id:item, field})
      this.$emit('mouseover:record:field', {event, id:item, field})
    },
    mouseleaveRecordField(event:any, item:RecordId, field:Field):void {
      this.debounceMousemoveRecordField({event, id:null, field})
      this.$emit('mouseleave:record:field', {event, id:item, field})
    }
  },


})
</script>

<style lang="css">
</style>
