<template>
  <div cols="12" class="d-flex">
    <v-btn-toggle
      :value="value"
      borderless dense
      @change="change"
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-filter</v-icon>
          </v-btn>
        </template>
        <span>free text filter</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-sort</v-icon>
          </v-btn>
        </template>
        <span>tim sort specification</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-format-quote-close</v-icon>
          </v-btn>
        </template>
        <span>regex search</span>
      </v-tooltip>
    </v-btn-toggle>
    <v-spacer></v-spacer>
    <v-tooltip bottom v-if="hasConfig">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" depressed @click="clickCog">
          <v-icon>mdi-cog</v-icon>
        </v-btn>
      </template>
      <span>configure</span>
    </v-tooltip>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from "vue";

import {
  VBtnToggle, VTooltip,
  VBtn, VIcon
} from 'vuetify/lib'

import {configs, groupByConjunctiveNormalForm} from 'frxt'
import {
  TokenMapConfig, Filter,
  CNFLogicConfig,
  CNFFunctionConfig,
  CNFConditionalConfig
} from 'frxt/dist/types'

export default Vue.extend({
  components: {
    VBtnToggle, VTooltip,
    VBtn, VIcon,
  },
  props: {
    hasConfig: {
      type: Boolean,
      default: true
    },
    value: {
      type: Number,
      default: 0
    }
  },
  methods: {
    change(n:number): void {
      this.$emit('change', n)
    },
    clickCog(): void {
      this.$emit('click:cog', true)
    }
  }
})
</script>

<style lang="css">

</style>
