<template>
<v-row>
  <v-col cols="12">
    <v-card flat tile>
      <v-card-title primary-title>
        <span>
          {{
            mode
            ? 'What is and why should you use VFrxt?'
            : 'Example with Card Data'
          }}
        </span>
        <v-spacer></v-spacer>
        <v-btn color="primary" icon @click="mode=!mode">
          <v-icon>{{mode?'mdi-close':'mdi-plus'}}</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text v-if="mode">
        <p>
          VFrxt is a small component library to bring the utility of
          the typescript library frxt to Vue and Vuetify. Although
          there are several components in VFrxt, the primary component
          is VRecordsTable. VRecordsTable is an extension of Vuetify's
          VDataTable and through its iterations of development (json-ctrl, valpha
          and now vfrxt) has had features in advance of their integration
          into vuetify (e.g. TimSort – multiple column sorting). The key features
          of VFrxt are those of the frxt library; namely
        </p>
        <ul>
          <li>A freetext input that extracts logical filters</li>
          <li>Conjunctive Normal Form Filtering of SQL-esque json data</li>
          <li>TimSort of SQL-esque json data</li>
        </ul>
        <p>
          While the term "SQL-esque" data may at first appear limiting, there
          are robust configuration options to allow for far more complex internal
          structure. To highlight this consider a record from the VRecordsTable
          below:
        </p>
        <no-ssr>
          <VueJsonPretty
            v-if="!hasNoCards"
            :data="exampleRecord"
          />
        </no-ssr>
        <p>
          While what this data is exactly may not be of interest to you it
          illustrates that VRecordsTable is fairly flexible.
          This is clearly not SQL-esque as some fields' values are arrays and
          others are objects. However with configuration the following effects
          are achieved:
        </p>
        <ul>
          <li>
            the fields id and image_uris are ignored (although image_uris are
            still used for tooltip)
          </li>
          <li>
            the field mana_cost is mapped to be "mana cost"
          </li>
          <li>
            prices are rendered with their currency symbol and users can switch
            between price "profiles" (via the cog icon)
          </li>
          <li>
            colors and mana_cost are rendered as icons
          </li>
        </ul>
        <p>
          While just being able to flexibily display data is nice, the functionality
          of VRecordsTable is what makes it shine. Starting with the freetext
          input all of the following filters are valid
        </p>
        <ul>
          <li>
            mana cost includes "R" or cmc is less than or equal to 3
          </li>
          <li>
            type_line contains ant or keywords includes "madness"
          </li>
          <li>
            edhrec_rank > 10000 or edhrec_rank &lt;= 100 or cmc &lt; 2 and rarity is mythic
          </li>
        </ul>
        <p>
          Being able to chain together logical queries like this is quite a powerful feature.
          VFrxt comes with many common cases converted with the default configuration.
          You may expand upon this to suite your needs. Further how the mapped
          field "mana cost" (internally "mana_cost") works without issue.
        </p>
        <p>
          Clicking the second button (or any of the column headers) allows
          you to sort on multiple columns.
          If you click twice on "mana cost", you will see it still sorts numerically.
          This is becaues for each field (column), VFrxt allows you to customize
          its render profile (what users see), its filter profile (what value is
          used when applying the logical filters) and its sortBy profile (what value
          to use when compared to other values in the same column).
          While powerful it can allow you to implement non-intuative behavior.
        </p>
        <p>
          The third button provides a global regex search. This works on the
          render profile (what the user sees). For example, if you had an
          array render as "n-elements" then users could type in "n-ele" to find
          these values.
        </p>
      </v-card-text>
    </v-card>
  </v-col>

  <v-col cols="12">
    <v-skeleton-loader loading type="table" v-if="hasNoCards"/>
    <VRecordsTable
      v-else
      :json="cards"
      :fieldOrder="fieldOrder"
      :fieldSynonymMap="fieldSynonymMap"
      :fieldRenderFunctions="fieldRenderFunctions"
      :fieldSortByFunctions="fieldSortByFunctions"
      :fieldFilterFunctions="fieldFilterFunctions"
      :functionLookup="functionLookup"
      :extractorConfig="extractorConfig"
      :showSelect="false"
      @mousemove:record="updateTooltip"
      @mouseleave:record="updateTooltip({id:null})"
    >
      <template #tooltip>
        <CardTooltip
          :fromStore="false"
          :width="168*1.5"
          :height="234*1.5"
          v-bind="tooltipData"
          class="card-img smooth-transition"
        />
      </template>
    </VRecordsTable>
  </v-col>

</v-row>
</template>

<script>
// import {VRecordsTable} from '../dist/vfrxt.umd.js'
import VRecordsTable from '@/components/VRecordsTable'
import {mapState, mapActions, mapGetters} from 'vuex'
import {CardTooltip} from 'vscry'
import VueJsonPretty from 'vue-json-pretty'
import {
  fieldOrder,
  fieldRenderFunctions,
  fieldSortByFunctions,
  fieldFilterFunctions,
  fieldSynonymMap,
  functionLookup,
  extractorConfig
} from '@/static/cards.config.js'


export default {
  components: {
    VRecordsTable, CardTooltip, VueJsonPretty
  },
  data: () => ({
    fieldOrder,
    fieldSynonymMap,
    fieldRenderFunctions,
    fieldSortByFunctions,
    fieldFilterFunctions,
    functionLookup,
    extractorConfig,
    mode: true
  }),
  computed: {
    ...mapGetters(['hasNoCards']),
    ...mapState(['snackText', 'cards', 'tooltipData']),
    exampleRecord() {
      if (this.hasNoCards) return {}
      return this.cards[Object.keys(this.cards)[0]]
    }
  },

  methods: {
    ...mapActions(['fetchKeywordCards', 'updateTooltip']),
  },
  mounted() {
    if (this.hasNoCards) {
      this.fetchKeywordCards({})
    }
  }
}
</script>

<style >
.card-img {
  transition: all 0.3s, -webkit-transform 0.3s, -o-transform 0.3s;
}
</style>
