<template>
<v-row>
  <v-col cols="12">
    <v-row>
      <v-col cols="12">
        <v-switch
          v-model="mode"
          :label="'Product navigation mode'"
        ></v-switch>
      </v-col>
    </v-row>
  </v-col>

  <v-col cols="12">
    <v-row class="py-0 my-0">
      <v-col class="d-inline-flex py-0 my-0">
        <h4>
          {{!mode?'How many sites handle user product navigation': 'A more all in one approach'}}
        </h4>
        <v-spacer></v-spacer>
        <v-btn color="primary" icon @click="btn=!btn">
          <v-icon>{{btn?'mdi-close':'mdi-plus'}}</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </v-col>

  <v-col cols="12" v-show="!mode">
    <v-row v-show="btn">
      <v-col>
        <p>
          The below selects are all disabled placeholders simple to reflect what
          many product management pages provide users; namely a limited hand-curated
          selection of sorting (normally only by one value), and possibly a few
          possible filters (with logic fixed to either "and" or "or", without
          letting the user switch between them).
        </p>
        <p>
          While such an approach is often <i>sufficient</i> for many cases,
          depending on how many items you have and how much freedom you want
          to give your users, this style of interface is extremely limiting.
        </p>
        <p>
          Vuetifyjs provides two main components which can be used to address this
          <code>v-data-table</code> and <code>v-data-iterator</code>. In the latest
          update <code>v-data-table</code> finally provided support TimSort (
          sorting by multiple values), but left filtering and searching mostly
          up to the developer to implement.
        </p>
        <p>
          If you are using <code>v-data-table</code> and <code>v-data-iterator</code>
          or even if you are not, most likely an API is feeding you data to display
          the products (or whatever data you have); further, often not all of the
          data returned may be visible or accessible to the user. <code>vfrxt</code>
          was designed to be a highly configurable, with sensible defaults all in
          one solution giving you (and more importantly your users) an advanced
          conjunctive normal form filter, timsort, and a global regex search for
          your data. Try toggling to the "advanced" mode to see the difference
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-select
          :items="['Calories asc', 'Calories desc', 'Price asc', 'Price desc', 'Popularity asc', 'Populatiry desc', 'Flavor']"
          disabled label="Sort"
          placeholder="Flavor"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          :items="['Dairy Free', 'Dairy', 'Keto']"
          disabled label="Type"
          placeholder="All (Dairy, Dairy-Free, Keto)"
        ></v-select>
      </v-col>
      <v-col>
        <v-select
          :items="['Cookies', 'Fruity', 'Limited Edition']"
          disabled label="Flavor Type"
          placeholder="All (Cookies, Fruity, Limited Edition)"
        ></v-select>
      </v-col>
    </v-row>
  </v-col>

  <v-col cols="12" v-show="mode">
    <v-row class="py-0 my-0">
      <v-col cols="12" class="py-0 my-0">
        <v-switch
          v-model="showTable"
          :label="'Toggle Table'"
        ></v-switch>
      </v-col>
      <v-col v-show="btn">
        <p>
          Welcome to the "advanced" mode. Wherever in your app you have data,
          you can give your users the ability to powerfully query it, be it
          for data visualization (e.g. filtering points with meta-data in a plot),
          for product searching, etc.
        </p>
        <p>
          Toggling the table allows you to show the user all the properties of the
          data they have access to to make their query. It also makes timsort
          faster to toggle by clicking the headers (however this can also be
          done by clicking the timsort button). If you wish for a more minimial
          experience, you can hide the table so that just the profiles (filter, sort,
          regex), are visible.
        </p>
        <p>
          So now that we are in the advanced mode, what exactly is possible?
          Try doing some (or all) of the following:
        </p>
        <ul>
          <li>
            Click the header "Calories" once and then "Ingredients" twice.
            Congrats, you have now sorted the data so that it is the least amount
            of calories for the most ingredients.
          </li>
          <li>
            Click the profile button with the quotes (regex profile) and then type in
            "cho". You have now found every product with chocolate. Why does
            S'mores appear? Well we are looing at <i>all</i> fields including the
            flavor name and ingredients.
          </li>
          <li>
            Click the filter profile button. Lets say a user has an egg allery.
            Type "ingredients does not have egg" and press return. There is something
            to note here. In Ingredients, the value is actually "Eggs".
            Here, I used the configurability to vfrxt to instead of test
            each element of the array for a match, to test if any element of the
            array matched the substring.
          </li>
          <li>
            Lets try a bit more specific filter. Let's say the user wants
            ice cream with not too many ingredients, a fair amount of protein
            but not too many calories. Try typing in "flavor contains cookie and
            length ingredients &lt; 30 and protein &gt;= 6 and calories &lt;= 100"
          </li>
          <li>
            One more for the road?
            "total fat &lt; 6 or total sugars &gt; 9 and ingredients does not have coconut"
          </li>
        </ul>
      </v-col>
    </v-row>

    <v-skeleton-loader loading type="table" v-if="ids.length===0"/>
    <VRecordsTable
      v-else
      :json="data"
      :fieldOrder="fieldOrder"
      :fieldSynonymMap="fieldSynonymMap"
      :fieldRenderFunctions="fieldRenderFunctions"
      :fieldFilterFunctions="fieldFilterFunctions"
      :fieldSortByFunctions="fieldSortByFunctions"
      :extractorConfig="extractorConfig"
      :functionLookup="functionLookup"
      :cnfConditionalConfig="cnfConditionalConfig"
      :tknConditionalMap="tknConditionalMap"
      :showTable="showTable"
      @change:filtered="update"
      @change:regmatched="update"
      @change:timsort="update"
    >
    </VRecordsTable>
  </v-col>
  <v-col cols="12" class="d-flex justify-center">
    <v-data-iterator :items="passing">
      <template v-slot:default="props">
        <v-slide-y-transition tag="v-row" group class="d-flex justify-space-around">
            <v-col
              v-for="(id, i) in props.items"
              :key="`halo-flavor-${id}-col`"
            >
              <v-hover v-slot:default="{ hover }">
                <v-card width="200" :class="{'elevation-8': hover, 'elevation-2':!hover}" >
                  <v-card-title primary-title :style="{color: data[id].color}" class="d-block text-truncate body-1">
                    {{data[id].name}}
                  </v-card-title>
                  <v-card-text class="justify-space-around d-flex" :class="{up:hover}">
                    <v-img :src="`${data[id].img}`" max-width="150" />
                  </v-card-text>
                  <v-card-actions>
                    <v-btn text :color="data[id].color" @click="click(data[id])">
                      Learn More
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-hover>
            </v-col>
        </v-slide-y-transition>
      </template>
    </v-data-iterator>
  </v-col>


  <v-col cols="12">

  </v-col>
</v-row>
</template>

<script>
// import {VRecordsTable} from '../dist/vfrxt.umd.js'
import VRecordsTable from '@/components/VRecordsTable'
import {mapState, mapActions, mapGetters} from 'vuex'
import VueJsonPretty from 'vue-json-pretty'
import {
  cnfConditionalConfig,
  fieldSynonymMap,
  fieldRenderFunctions,
  fieldSortByFunctions,
  makeNutritionLabelFn,
  makeCaloriesLabelFn,
  extractorConfig,
  functionLookup,
  tknConditionalMap,
  fieldOrder,
  fieldFilterFunctions,
} from '@/static/halotop.config.js'

import data from '@/static/data/halo-top.json'

export default {
  components: {
    VRecordsTable, VueJsonPretty
  },
  data: () => ({
    data,
    cnfConditionalConfig,
    fieldSynonymMap,
    fieldRenderFunctions,
    fieldSortByFunctions,
    fieldFilterFunctions,
    extractorConfig,
    functionLookup,
    tknConditionalMap,
    fieldOrder,
    passing: Object.keys(data),
    mode: false,
    showTable: true,
    btn: true

  }),
  computed: {
    ids() {
      return Object.keys(this.data)
    }
  },

  methods: {
    click(item) {
      window.open(`https://www.halotop.com${item.href}`, '_blank')
    },
    update(ids) {
      this.passing = ids
    },
  },
  mounted() {

  }
}
</script>

<style >
.v-card, .v-card__text {
  transition: all .4s ease-in-out;
}
.up {
  transform: translateY(-10px)
}
</style>
